aws_es_id_pw.txt
elasticsearch-8.15.3
logstash-8.16.0
keys.config
__pycache__
previous_work
http_ca.crt
data_preprocessing.ipynb
prerocessing.sql
final_hospital_data.csv
vae_pretrained_model.pth
twilio_2FA_recovery_code.txt
tts_outputs
logstash_sync_1_1.bat
logstash_sync_1_2.bat
hospital_synchronizer.conf
pharmacy_synchronizer.conf
logstash_sync_2_1.bat
logstash_sync_2_2.bat
logstash_sync_master.bat
Dockerfile
final_hospital_data_fixed.csv
vae_pretrained_model_ld16hd32.pth
vae_pretrained_model_ld32hd64.pth
vae_pretrained_model_ld64hd128.pth